extends layout
block content
  h1= title
  - let shoeid = toShow._id
  - let brand = toShow.brand
  - let color = toShow.color
  - let size = toShow.size
  div
    div.row
      div(class='shoeAttr mr-3') shoe ID is:
      div #{shoeid}
    div.row
      div(class='shoeAttr mr-3') shoe brand is:
      div #{brand}
    div.row
      div(class='shoeAttr mr-3') shoe Color is:
      div #{color}
    div.row
      div(class='shoeAttr mr-3') shoe size is:
      div #{size}