extends layout

block content
  h1= title
  p Welcome to #{title}.

  - let items = results
  div(class="container-fluid")
    .row.d-flex.flex-row
      each shoe, index in items
        - let destination = `dispatch("/shoe/update?id=${shoe._id}")`
        div(class="row m-1")
          div(class="col-sm-2", onclick=`buy(${index})`) #{shoe.brand}
          div(class="col-sm-2", onclick=`buy(${index})`) #{shoe.color}
          div(class="col-sm-2", onclick=`buy(${index})`) #{shoe.size}
          button.btn(class="btn-primary ml-1 col-sm-2", onclick=destination) Update

  script.
    //- function buy(itemNo){
    //-   alert(`You purchased item ${itemNo}.`);
    //- }
    function dispatch(path){
      window.location.href = path;
    }
